.middle-wave {
  fill: #bce6fb;
}

.small-leaf {
  fill: #bce6fb;
  transform-origin: center;
  opacity: 0;
  animation: revealSmallLeaves 1.5s ease-in-out forwards;
  animation-delay: 5s;
}

.large-leaf {
  fill: #bce6fb;
  transform-origin: center;
  opacity: 0;
  animation: revealLargeLeaves 1.5s ease-in-out forwards;
  animation-delay: 6.5s;
}

.tree {
  fill: #4991ce;
  mask: linear-gradient(180deg, transparent 50%, black 50%) top;
  mask-size: 100% 200%;
  animation: treeAnimation 2s ease-in-out forwards;
  animation-delay: 3s;
}

.wave {
  fill: #4991ce;
}

.wave,
.middle-wave {
  transform-origin: left-center;
  mask: linear-gradient(270deg, transparent 50%, black 50%) right;
  mask-size: 200%;
  animation: waveAnimation 3s ease-in-out forwards;
}

@keyframes waveAnimation {
  0% {
    mask-position: right;
  }

  100% {
    mask-position: left;
  }
}

@keyframes treeAnimation {
  0% {
    mask-position: top;
  }

  100% {
    mask-position: bottom;
  }
}

@keyframes revealSmallLeaves {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes revealLargeLeaves {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}