.processing-container {
    padding: 1.5rem 2rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-radius: .5rem;
    margin: 2em 10em;
    display: block;
}

.processing-list-item {
    display: flex;
    align-items: center;
}

.processing-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}