.logo {
  /*border: 5px;*/
  position: relative;
  /*margin: auto;*/
  /*width: 95%;*/
}
.logo form {
  /*margin: 0.3em 55px;*/
}
.logo_container {
  position: relative;
  height: 300px;
  overflow: hidden;
  margin-left: 55px;
  border: 1px solid #999;
}

.logo_graphic {
  position: absolute;
  height: 300px;
  background-color: #e4f0c4;
  background-image: -webkit-gradient(
    linear,
    0 100%,
    100% 0,
    color-stop(0.25, rgba(255, 255, 255, 0.2)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.75, rgba(255, 255, 255, 0.2)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-image: -ms-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  cursor: pointer;
}
.logo_xaxis {
  display: block;
  /*margin-left: 40px;*/
}
.xaxis_text {
  width: 10em;
  margin: 1em auto;
}
.logo_yaxis {
  position: absolute;
  draggable: true;
}
.logo_wrapper {
  background: #eee;
  padding: 0 1em;
  margin: 1em 0;
}
.canvas_logo {
  position: absolute;
  top: 0;
}
.logo_divider {
  background: rgba(256, 0, 0, 0.1);
  position: absolute;
  top: 0;
  height: 300px;
  width: 1px;
  left: 50%;
  z-index: 5;
}
.logo_col_info {
  /*float: left;*/
  /*margin: 0.3em 0.3em 0.3em 1em;*/
  /*padding: 0.3em;*/
  /*border: 1px solid #ccc;*/
  /*display: table;*/
  /*border-radius: 5px;*/
}
.logo_col_hmm {
  width: 70%;
  margin: 0 auto;
  border: 1px #ccc solid;
}
.logo_col_hmm tr {
  background-color: #eee;
}
.logo_col_hmm tr td {
  padding: 0.1rem;
}

.logo_col_info div {
  float: left;
  width: 0.6em;
  height: 1.4em;
  margin-left: 1em;
  margin-right: 0.5em;
}

.logo_settings {
  display: none;
  z-index: 6;
  position: relative;
  background: #fff;
  margin: 1em;
  padding: 0;
  border: 2px solid #ccc;
}
.logo_settings_switch {
}
.logo_scale {
}
.logo_ali_map {
}
.logo_zoomout {
}
.logo_zoomin {
}
.logo_color {
}
.logo_form {
  margin-left: 39px;
}
.logo_form fieldset {
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: inline-block;
  margin: 0.3em 1em;
  padding: 0.3em;
}

.logo_form label {
  display: inline-block;
  margin-right: 1em;
}

.logo_form input {
  display: inline-block;
  width: inherit;
  margin: 0 1em 0 0;
}

.logo_position {
}
.logo_change {
}
.logo_controls {
  position: absolute;
  left: 3.1em;
  top: 0;
}
.button {
  border: 1px solid #999;
  padding: 0.2em 0.3em;
}
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  padding-right: 5px;
  cursor: pointer;
}
.aa_A div {
  background: #ff9966;
}
.aa_B div {
  background: #fff;
}
.aa_C div {
  background: #009999;
}
.aa_D div {
  background: #ff0000;
}
.aa_E div {
  background: #cc0033;
}
.aa_F div {
  background: #00ff00;
}
.aa_G div {
  background: #f2f20c;
}
.aa_H div {
  background: #660033;
}
.aa_I div {
  background: #cc9933;
}
.aa_J div {
  background: #fff;
}
.aa_K div {
  background: #663300;
}
.aa_L div {
  background: #ff9933;
}
.aa_M div {
  background: #cc99cc;
}
.aa_N div {
  background: #336666;
}
.aa_O div {
  background: #fff;
}
.aa_P div {
  background: #0099ff;
}
.aa_Q div {
  background: #6666cc;
}
.aa_R div {
  background: #990000;
}
.aa_S div {
  background: #0000ff;
}
.aa_T div {
  background: #00ffff;
}
.aa_U div {
  background: #fff;
}
.aa_V div {
  background: #ffcc33;
}
.aa_W div {
  background: #66cc66;
}
.aa_X div {
  background: #fff;
}
.aa_Y div {
  background: #006600;
}
.aa_Z div {
  background: #fff;
}
.dna_A div {
  background: #cbf751;
}
.dna_C div {
  background: #5ec0cc;
}
.dna_G div {
  background: #ffdf59;
}
.dna_T,
div .dna_U div {
  background: #b51f16;
}
